@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
body {
	font-family: 'Open Sans', Tahoma, Arial;
}
html, body {
      overflow: hidden;
 }
.wrapper {
	
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
.sidebar-users-list-label{
	    text-align: center;
    color: #1b957f;
    font-size: 15px;
    padding: 6px;
    background-color: #d8d8d8;
    border: 1px solid #1b957f;

}

.hm-main-nav .hm-main-nav-right-link{
	margin-right: 20px;
}
.form-signin, .form-signup{
	position: relative;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: 100px;
}
.btn-signin,.btn-signup{
	width: 100%;
	margin-top: 10px;
}
.chatbox-participants{
	    height: 100%;
    border: 1px solid #d4c8c8;
    border-radius: 4px;
    padding: 10px;
    right: 10px;
    /* float: right; */
    position: relative;
    margin-top: 10px;
}
.chatbox-participants label{
	margin-left: 4px;
}
.main-nav{
	padding: 0px;
}
.add-room-wrapper{
	margin: 10px;
}
.create-new-room{
	margin-left: 2px;
}
.sidebar-rooms-list-label{
	    text-align: center;
    color: #1b957f;
    font-size: 15px;
    padding: 6px;
    background-color: #d8d8d8;
    border: 1px solid #1b957f;

}
.users-list-ul li:hover a{
	cursor: pointer;
	color: #1b1b1b;
}
.selected-room{
	    background-color: #18947d;
}
.notification-counter{
	float: right;
	margin-right: 5px;
}
.wrapper .main-section{
	    height: calc(100% - 127px);
    float: left;
    top: 65px;
    left: 250px;
    position: absolute;
    z-index: 0;
    overflow: auto;
}
.wrapper .content {
	height: 100%;
	position:relative;
}
.wrapper.toggled {
	padding-left: 0;
}
.wrapper.toggled #sideBar {
	left: -300px;
	opacity: 0;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.sideBar {
	height: calc(100% - 65px) !important;
	top:65px;
	width: 250px;
	position: fixed;
	opacity: .99;
	left: 0;
	background: #64676c;
	height: 100%;
	overflow-y: auto;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.main-nav {
	list-style-type: none;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	margin-bottom: 0;
}
.main-nav li {
	line-height: 40px;
	padding: 0 15px;
	border-bottom: 1px solid #585858;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.12);
}
.main-nav li.main-search {
	border: none;
	box-shadow: none;
}
.main-nav li.main-search .search-input.form-control {
	border-radius: 0;
	background: #444;
	border: none;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
}
.main-nav li.main-search i {
	float: right;
	margin-top: -25px;
	margin-right: 15px;
	color: #999;
}
.main-nav li.nav-brand {
	height: 80px;
	line-height: 80px;
	font-size: 18px;
	border: none;
	box-shadow: none;
}
.main-nav li a {
	color: #fff;
	display: block;
	font-weight: normal;
	text-decoration: none;
}
.main-section{
	width:calc(100% - 250px) !important;
}
/*Chatbox Component*/
.chatbox-wrapper{
	/*height: 100%;
	position: relative;
	width: 100%;*/
}
.chatbox-wrapper  .chat-type-here{
	padding:15px;
	width: 100%;
}
.chatbox-wrapper .chat-type-here-box{
	 position: fixed;
    bottom: 0px;
    width: 100%;
	
}
.chatbox{
	float: left;
    width: 80%;
    height: 100%;
}
.chatbox-full-width{
	width: 100%;
}
.chatbox-participants{
	float: right;
	width: 20%;
}
.chatbox-wrapper .chatbox-conversation{
	padding: 0px 0px 0px 15px;
}
.chatbox-conversation-messages{
	/*position: absolute;
    bottom: 70px;*/
}

.chatbox-wrapper .hm-message-div{
	position: relative;
    margin: 20px 0px 20px 0px;
}
.chatbox-wrapper .hm-message-span{
	   padding: 4px 15px 4px 15px;
    border-radius: 14px;
}
.chatbox-wrapper .hm-message-owner{

    border: 1px solid #34a734;
    background-color: #5cb85c;
	 color: white;

}
.chatbox-wrapper .hm-message-not-owner{

    border: 1px solid #dedede;
    background-color: #e0e0e0;
    color: #464444;

}
/*Dashboard Nav Component*/
.dashboard-nav{
	position: fixed;
	height:65px;
	width: 100%;
	z-index: 1;
	/*float: left;
    width: 100%;
    padding-right: 25px;*/
}
.navbar {
	margin-bottom: 0px !important;
}
@media (max-width: 768px) {
	#wrapper {
		padding-left: 0;
	}
	#wrapper.toggled {
		padding-left: 250px;
	}
	#wrapper.toggled #sideBar {
		left: 0;
		opacity: 1;
	}

	#sideBar {
		left: -300px;
	}
}

/*# sourceMappingURL=main.css.map */
